.card {
  width: 215px;
  padding: 16px;
  border-radius: 8px;
  transition: box-shadow .3s ease;
  box-sizing: border-box;
  background: #fff;

  &:hover {
    box-shadow: 0 8px 24px rgb(0 0 0 / 15%);
  }
}

.card-img {
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 136px;
  }
}

.cart-name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #161616;
  margin-bottom: 10px;
}

.cart-price {
  font-size: 20px;
  line-height: 24px;
  color: #ff681d;
  font-weight: 600;
  margin-bottom: 15px;
}
