.table {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;

  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .table-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item-info {
      width: 350px;
      display: flex;
      align-items: center;

      .item-info-img-box {
        width: 58px;
        //display: flex;

        img {
          width: 100%;
          margin-right: 20px;
        }
      }
    }
  }
}
