<div class="card-product">
  <div class="img-box">
    <img src="{{product.urlImg}}" alt="">
  </div>

  <div class="name-box" routerLink="/product/{{product.id}}">
    <p>{{product.name}}</p>
  </div>

  <div class="btn-add-list-like" *ngIf="showAddBtn">
    <button mat-mini-fab [color]="'#fff'" (click)="addFavoriteProduct(product)">
      <mat-icon>favorite_border</mat-icon>
    </button>
  </div>

  <div class="btn-delete-list-like" *ngIf="!showAddBtn">
    <button mat-mini-fab [color]="'#fff'" (click)="deleteFavoriteProduct(product)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="price-btn-box">
    <span [style]="{'color': '#ff681d'}">{{product.price | currency: 'KZ'}}</span>
<!--    <a mat-stroked-button routerLink="/registration" class="show-details-btn">ПОДРОБНОЕЕ</a>-->
  </div>
</div>
