.card-product {
  width: 230px;
  background: white;
  box-sizing: border-box;
  border: 1px solid #b0afaf;
  position: relative;

  &:hover {
    border: 2px solid #ff681d;
  }
  padding: 20px;
}

.img-box {
  width: 100%;

  img {
    width: 100%;
  }
}

.name-box {
  text-align: center;
  cursor: pointer;
}

.price-btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.show-details-btn {
  color: #fff;
  background: #2cd878;
  border-radius: 20px;
}

.btn-add-list-like {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-delete-list-like {
  position: absolute;
  top: 10px;
  right: 10px;
}
