<div class="wrapper">
  <div class="box-flex">
    <div class="l-part">
      <div class="div-link" routerLink="/my-account/profile-info" routerLinkActive="active-link">
        <mat-icon style="margin-right: 10px">account_circle</mat-icon>
        Мой профиль
      </div>
      <div class="div-link" routerLink="/my-account/history-orders" routerLinkActive="active-link">
        <mat-icon style="margin-right: 10px">history</mat-icon>
        История заказов
      </div>
      <div class="div-link" routerLink="/my-account/favorite-list" routerLinkActive="active-link">
        <mat-icon style="margin-right: 10px">favorite_border</mat-icon>
        Список желаний
      </div>
      <button (click)="logout()">Выйти</button>
    </div>

    <div class="r-part">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
