.wrapper {
  background: #f4f4f4;
  padding: 50px 100px;
  box-sizing: border-box;
}

.box-flex {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.l-part {
  width: 300px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  min-height: 400px;

  button {
    width: 100%;
    border: none;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;

    &:hover {
      color: #fff;
      background: #ff681d;
    }
  }

  .div-link {
    width: 100%;
    border: none;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      color: #fff;
      background: #ff681d;
    }
  }
}

.r-part {
  width: 1000px;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
}

.active-link {
  color: #fff;
  background: #ff681d;
}
