.wrapper {
  padding: 0;
}

.menu-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  padding: 10px 100px;
  box-sizing: border-box;
}

.menu-flex-child {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      margin-left: 10px;
    }
  }
}
