<div class="form-box">

  <div class="body">

    <h1 class="form-h1">Новый пользователь</h1>

    <div class="form-body">

      <form [formGroup]="registrationForm" (ngSubmit)="clickRegistration()">

        <mat-form-field class="input-f">
          <mat-label>Имя:</mat-label>
          <input type="text" matInput formControlName="name" placeholder="Имя">
          <mat-error *ngIf="name.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field class="input-f">
          <mat-label>Фамилия:</mat-label>
          <input type="text" matInput formControlName="surname" placeholder="Фамилия">
          <mat-error *ngIf="surname.hasError('required')">
            Surname is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field class="input-f">

          <mat-label>Электронная почта:</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Электронная почта">
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field class="input-f">
          <mat-label>Пароль:</mat-label>
          <input type="password" matInput formControlName="password" placeholder="Пароль">
          <mat-error *ngIf="password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <button class="btn" type="submit" mat-raised-button color="primary" [disabled]="!registrationForm.valid">Регистрация</button>

      </form>

    </div>
  </div>


</div>
