<div class="slider-body">
  <button class="btn-l" (click)="leftBtn()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>

  <div class="slider-img-box">

    <img *ngIf="showIndex === 0" src="assets/images/slider/slider1.webp" alt=""/>
    <img *ngIf="showIndex === 1" src="assets/images/slider/slider2.webp" alt=""/>
    <img *ngIf="showIndex === 2" src="assets/images/slider/slider3.webp" alt=""/>
    <img *ngIf="showIndex === 3" src="assets/images/slider/slider4.webp" alt=""/>
    <img *ngIf="showIndex === 4" src="assets/images/slider/slider5.png" alt=""/>

  </div>

  <div class="items">
    <div class="btn-choose" [ngClass]="{'active-index': showIndex === 0}" (click)="setIndex(0)"></div>
    <div class="btn-choose" [ngClass]="{'active-index': showIndex === 1}" (click)="setIndex(1)"></div>
    <div class="btn-choose" [ngClass]="{'active-index': showIndex === 2}" (click)="setIndex(2)"></div>
    <div class="btn-choose" [ngClass]="{'active-index': showIndex === 3}" (click)="setIndex(3)"></div>
    <div class="btn-choose" [ngClass]="{'active-index': showIndex === 4}" (click)="setIndex(4)"></div>
  </div>

  <button class="btn-r" (click)="rightBtn()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
